<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styles and custom CSS -->
	<link rel="stylesheet" href="/static/css/style.css" />
    <title>Prometheus</title>
</head>
<body>
    <nav><a href="ss">A propos</a></nav>
    
<section>
    <div class="ask">
   

        <div class="guest-message">
        <p class="text-content">Ou se trouve Paris ?</p>  
        </div>
        
        <div class="bot-message">
        <p class="text-content">lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor, 
            lorem ipsum dolor sit amet consectetur adipisclorem ipsum 
            dolor sit amet consectetur adipiscing elit sed do eiusmod tempor 
        </p>
        </div>
</div>
<input type="text" placeholder="Insérez votre requête ici"> 

</section>

    <footer><a href="https://github.com/Mcflan-7/P7_prometheus">Mon projet</a></footer>
</body>
</html>
