body {
    background-image: url('../background.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: initial;
  }

a:link {
text-decoration: none;
}

.ask {
    background-color: brown;
    width: 50em;
    height: 32em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-color: yellow;
  }

  .bot-message {
  
    width: 12em;
    height: 2em;
    left: 2px; 
    position: sticky; 
    margin-left: 8px;
    display: block;
    margin-top: 33px;
    padding-top: 33px;
    
  }

  .guest-message {
    color: aqua;
    width: 12em;
    height: 2em;
    left: 67em;
    margin-right: 8px;
    position: sticky; 
    display: block;
    margin-top: 33px;
    padding-top: 33px;
  }

  .avatar {
    border-radius: 50%;
    height: 50px;
  }

  input {
    width: 25em;
    height: 2em;
    text-indent: 3px;
  }